PORT=3000
# ==========================================
# ⚙️ Database PostgreSQL (ระบบใหม่ - ศูนย์กลาง)
# ==========================================
DB_USER=postgres
DB_PASSWORD=xxx
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ww_system

# ==========================================
# 🔗 Database MySQL (ระบบเก่า - แยกตามสาขา)
# ==========================================
# สาขา 18 (ตรัง)
MYSQL_HOST_1=192.168.0.x
MYSQL_USER_1=root
MYSQL_PASSWORD_1=xxx
MYSQL_PORT_1=3306
MYSQL_DB_1=woodworkbarcode

# สาขา 18 (ตรัง)
MYSQL_HOST_17=192.168.x.x
MYSQL_USER_17=root
MYSQL_PASSWORD_17=xxx
MYSQL_PORT_17=3306
MYSQL_DB_17=woodworkbarcode

JWT_SECRET=ww_your_super_secret_key_ppos_2026..